name: Crowdin Check & Upload (GitHub -> Crowdin)

on:
  push:
    branches:
      - main
    paths:
      - src/main/resources/assets/dragonminez/lang/**
  schedule:
    - cron: '0 8 */2 * *' # Cada 2 dias a las 08:00 AM
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  crowdin-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Localization Syntax Check
        run: ./scripts/check_lang.sh

      - name: Crowdin Upload (sources only)
        uses: crowdin/github-action@v2
        with:
          upload_sources: true
          #Will only upload the source file en_us.json to Crowdin, nothing more.
          upload_translations: false
          download_translations: false
          download_sources: false
          create_pull_request: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
